@model WebApplication1.Models.TbAdminUser

@{
    Layout = "~/Areas/Admin/Views/Shared/_loginLayout.cshtml";
}

<div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Đăng ký tài khoản</p>

                <form method="post">

                    <!-- hiển thị thông báo -->
                    @if (TempData["Sucesss"] != null)
                    {
                        <div class="alert alert-success">
                            @TempData["Sucesss"]
                        </div>
                    }

                    @if (TempData["Errors"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["Errors"]
                        </div>
                    }
                    <div class="input-group mb-3">
                        <input asp-for="UserName" type="text" class="form-control" placeholder="User name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="FullName" type="text" class="form-control" placeholder="Full name">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    @* <div class="input-group mb-3"> *@
                    @*     <input type="password" class="form-control" placeholder="Retype password"> *@
                    @*     <div class="input-group-append"> *@
                    @*         <div class="input-group-text"> *@
                    @*             <span class="fas fa-lock"></span> *@
                    @*         </div> *@
                    @*     </div> *@
                    @* </div> *@
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                <label for="agreeTerms">
                                    I agree to the <a href="#">terms</a>
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i>
                        Sign up using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i>
                        Sign up using Google+
                    </a>
                </div>

                <a href="login.html" class="text-center">I already have a membership</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->